.imagem-carrossel-um {
    object-fit: cover;
    object-position: 0 50%;
    height: 500px;

}

.imagem-carrossel-dois {
    object-fit: cover;
    
    height: 500px;

}

.texto_principal {
    font-family: 'Pacifico', 'cursive';
}

.cor_especial {
    color: darkred;
}

.cor_de_fundo {
    background-color: darkred;
    color: white;
}

.card-imagem {
    object-fit: cover;
    
    height: 200px;
}